<!DOCTYPE html>
<html>
  <head>
    <title>BreakdownNew</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<div class="nav-logo">
  			<%= image_tag ("breakdown-nav-logo.png") %>
  		</div>
      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       
  		<div class="nav-buttons">
  			<%= link_to "About Breakdown", projects_path, class: "btn-reverse" %>
  			<%= link_to "Sign Up", projects_path, class: " btn-reverse" %>
  		</div>
  	</header>
    <%= yield %>
  </body>
</html>
