<!DOCTYPE html>
<html>
  <head>
    <title>BreakdownNew</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<div class="nav-logo">
  			<%= link_to image_tag("breakdown-nav-logo.png"), root_path %>
  		</div>

      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

  		<div class="nav-buttons">
        <%= link_to "Splash Page Here", pages_splash_url, class: "btn-reverse" %>
  			<%= link_to "How Breakdown Works", pages_about_url, class: "btn-reverse" %>

         <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, class: "btn-reverse" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn-reverse" %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn-reverse" %> 
          <%= link_to "Login", new_user_session_path, class: "btn-reverse" %>
        <% end %>
  		</div>
  	</header>
    <%= yield %>
  </body>
</html>
