<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :project_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_description %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline, id: :project_deadline %>
  </div>

 <!-- <div class="field">
    <%= form.label :reminder %>
    <%= form.check_box :reminder, id: :project_reminder %>
  </div>

  <div class="field">
    <%= form.label :reward %>
    <%= form.check_box :reward, id: :project_reward %>
  </div> -->

  <div class="field">
  <h3>Does Your Project Have Milestones?</h3>
  <!-- <%= form.label :milestone %>
  <%= form.check_box :milestone, id: :project_milestone %> -->
  <p>
  <%= form.nested_fields_for :steps do |step| %>
  <%= step.label :milestone %>
  <%= step.text_field :task %>
  <br>
  <%= step.label :due_date %>
  <%= step.date_field :due_date %>
  <%= step.remove_nested_fields_link %>
  <br>
  <br>
  <% end %>
  <%=form.add_nested_fields_link :steps, 'Add Milestone' %>
  </p>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
